* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    animation: 0.2s all;
}

.domine-400 {
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    padding: 1rem;
    background-color: azure;
    margin-bottom: 1rem;
}

h1, h2, h3, p {
    padding-bottom: 1rem;
}

img {
    width: 250px;
    height: auto;
    max-width: 100%;
}
